<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <!--CSS -->
            <link rel="stylesheet" href="{{ asset('styles/style.css') }}"/>
            <!--FONT-->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap">
        
        {% endblock %}

        {% block javascripts %}
            <!--FONTAWESOME-->
            <script defer src="https://kit.fontawesome.com/cc4d78ddc0.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ path('app_checklist_index') }}">ToDoApp</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    {% if app.user %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_checklist_index') }}">My checklists</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                  </li>
                    {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                  </li>
                    {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        <main>
        {% block body %}
        {% endblock %}
        </main>
    </body>
</html>
