{{ form_start(form) }}
<div class="mb-3">
    {{ form_row(form.name) }}
</div>

<div class="mb-3">
    {{ form_row(form.imageFile) }}
</div>
    
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
